/*------------------------------------------------------------------
[Stylesheet]

Project:	FLATFOLIO THEME
Version:	1.0
Last change:	
Assigned to:	OrangeIdea
Primary use:	Portfolio site 
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

0. Import
1. Typograpgy

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[0. Import]
-------------------------------------------------------------------*/
@import url(../bootstrap/bootstrap.css);
@import url(main_style.css);
@import url(options.css);

/*------------------------------------------------------------------
[1. Typograpgy]
-------------------------------------------------------------------*/
.red {
color:red;
}

.center {
text-align:center;
}

.right {
text-align:right;
}

.mb0 {
margin-bottom:0!important;
}

.mb35 {
margin-bottom:35px!important;
}

.mt20 {
margin-top:20px;
}

.mt30 {
margin-top:30px;
}

.m0 {
margin:0!important;
}

.vc_custom_mt {
margin-top:40px!important;
padding-top:0!important;
padding-bottom:0!important;
}

.vc_custom_pt80 {
padding-top:40px!important;
padding-bottom:40px!important;
}

.vc_custom_pt60 {
background-color:#f6f6f6!important;
padding:60px!important;
}

.vc_custom_pt60_2 {
background-color:#fff!important;
padding:60px!important;
}

.vc_custom_pt100 {
padding-top:100px!important;
padding-bottom:100px!important;
background-color:#fff!important;
}

.vc_custom_pt100_b39674 {
padding-top:100px!important;
padding-bottom:100px!important;
background-color:#b39674!important;
background-position:center!important;
background-repeat:no-repeat!important;
background-size:cover!important;
}

.vc_custom_pt100_3c3c3c {
margin-bottom:40px!important;
padding-top:100px!important;
padding-bottom:100px!important;
background-color:#3c3c3c!important;
}

.overflow_hidden {
overflow:hidden;
position:relative;
}

.vc_custom_pt40fff {
padding-top:40px!important;
padding-bottom:40px!important;
background-color:#fff!important;
}

.vc_custom_block_fafafa {
background-color:#fafafa!important;
padding:40px!important;
}

.vc_custom_block_eaeaea {
background-color:#eaeaea!important;
padding:40px!important;
}

.vc_custom_block_ffffff {
background-color:#fff!important;
padding:40px!important;
}

.vc_custom_block_f6f6f6 {
margin-top:0!important;
margin-bottom:0!important;
background-color:#f6f6f6!important;
padding:40px 20px!important;
}

path {
fill: #21BDA4;
}

#cv {
font-size: 2em;
margin: 0;
float: left;
padding-top: 10px;
padding-right: 5px;
}

.linked {
margin-top:0!important;
margin-bottom:0!important;
background-color:#f6f6f6!important;
}

.section_bg_21BDA4 {
margin-top:0!important;
margin-bottom:0!important;
background-color:#21BDA4!important;
}

.section_bg_BC3542 {
margin-top:0!important;
margin-bottom:0!important;
background-color:#BC3542!important;
}

.section_bg_2A2D56 {
margin-top:0!important;
margin-bottom:0!important;
background-color:#2A2D56!important;
}

.section_bg_E4572E {
margin-top:0!important;
margin-bottom:0!important;
background-color:#E4572E!important;
}

.section_bg_6F2ADD {
margin-top:0!important;
margin-bottom:0!important;
background-color:#6F2ADD!important;
}

.hr_element {
margin-bottom:35px;
margin-top:35px;
}

.vc_custom_bg_xyyllc {
margin-bottom:0!important;
padding-top:200px!important;
padding-bottom:200px!important;
background-image:url(http://placehold.it/1240x877)!important;
background-position:center!important;
background-repeat:no-repeat!important;
background-size:cover!important;
}

/*.vc_custom_bg_freelancers {
padding-top:270px!important;
padding-bottom:270px!important;
background-image:url(./assets/images/BR-Main.jpg)!important;
background-position:center!important;
background-repeat:no-repeat!important;
background-size:cover!important;
}

.vc_custom_bg_bn {
padding-top:270px!important;
padding-bottom:270px!important;
background-image:url(./assets/images/BN-Main.jpg)!important;
background-position:center!important;
background-repeat:no-repeat!important;
background-size:cover!important;
}

.vc_custom_bg_format-quote {
background-image:url(./assets/images/sf.jpg)!important;
background-size:cover!important;
}*/

.vc_custom_bg_center {
position:absolute;
top:0;
bottom:0;
left:0;
right:0;
background-size:cover;
background-position:center center;
}

.vc_custom_bg_masonry {
background-image:url(http://placehold.it/1000x647);
}

.vc_custom_bg_masonry2 {
background-image:url(http://placehold.it/1240x700);
}

.vc_custom_bg_masonry3 {
background-image:url(http://placehold.it/1240x700);
}

.vc_custom_bg_masonry4 {
background-image:url(http://placehold.it/1500x700);
}

.vc_custom_bg_masonry5 {
background-image:url(http://placehold.it/1500x700);
}

.m60 {
margin-top:0;
margin-bottom:60px;
}

.mb60_1 {
margin-bottom:60px!important;
}

.mb30 {
margin-bottom:30px;
}

.mt40 {
margin-top:40px;
}

.mt40mb80 {
margin-top:40px;
margin-bottom:80px;
}

.mt20mb60 {
margin-top:20px;
margin-bottom:60px;
}

.hfs80lh86 {
font-size:80px;
line-height:86px;
}

.hfs60lh66 {
font-size:60px;
line-height:66px;
}

.bg_808080 {
background-color:gray!important;
}

.bg_eeeeee {
background-color:#eee!important;
}

.bg_f3f3ef {
background-color:#f3f3ef!important;
}

.bg_ffffff {
background-color:#fff!important;
}

.bg_2F2933 {
background-color:#2F2933!important;
}

.bg_eaeaea {
background-color:#eaeaea!important;
}

.text_fff {
color:#fff!important;
}

.text_000 {
color:#000!important;
}

.uppercase {
text-transform:uppercase;
}